-- +goose Up  
;
-- +goose Down{{range $i, $et := $.ExtraTables}}
DROP TABLE IF EXISTS {{$et.Name}};{{end}}
{{range $modelName, $model := $.Models}}
DROP TABLE IF EXISTS {{Pluralize (NameSQL $modelName)}};
DROP TABLE IF EXISTS {{Pluralize (NameSQL $modelName)}}_access;{{end}}