# {{.Name}}

## Using

1. Build your service

    ```bash
    make
    ```

2. Run PostgreSQL in Docker container

    ```bash
    make db_start
    ```

3. Run your service

    ```bash
    make start
    ```

4. Shutdown

    - stop the service itself
    - if you don't need data from your database, stop it:

    ```bash
    make db_stop
    ```
